vendor
node_modules
.env
.git
storage/*.key
storage/*.pem
storage/framework/cache/data
storage/logs
storage/framework/sessions
storage/framework/views
public/hot
public/storage
.vscode
/.idea
/.github
composer.phar
npm-debug.log
.DS_Store
